/* add your CSS here */
#facts {
	font-style: italic;
}

#info {
	border-style: solid;
    border-width: 1px;
    padding: 1em;
}

#main {
	border-style: solid;
    border-width: 1px;
    padding: 1em;
}

span {
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

img {
	padding-bottom: 1em;
	width: 300px;
}
